<footer class="container my-2 px-0">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-sm-12 p-2">
              <h4><center>Sponsors</center></h4>
          </div>
      </div>
      <div class="row justify-content-center">
          <div class="col-sm-4 p-2">
            <img src="{% link assets/logos/ANU_Primary_Horizontal_GoldBlack.png %}" class="mx-auto d-block" style="width: 70%">
          </div>
          <!-- <div class="col-sm-1 p-2"> -->
            <!-- <div class="vr"></div> -->
          <!-- </div> -->
          <div class="col-sm-4 p-2">
            <img src="{% link assets/logos/musicact-horizontal-black.png %}" class="mx-auto d-block" style="width: 100%">
          </div>
      </div>
      {% comment %}
      <div class="row justify-content-center" style="margin-top:20px">
          <div class="col-sm-12 p-2">
              <h4><center>Presented in cooperation with</center></h4>
          </div>
      </div>
      <div class="row justify-content-center">
      </div>
      {% endcomment %}
  </div>


  <div class="mb-4">
    <p class="text-center rounded-3 py-2">&copy; {{ site.footer_copyright }} {{ site.time | date: '%Y' }}<br>
      Created with <a href="https://github.com/smcclab/academic-org-theme">academic-org-theme</a></p>
  </div>
</footer>