<!DOCTYPE html>
<html lang="en-US">
  <head>
	  {% include head.html %}
  </head>
  <body>
    {% include nav.html %}
    {% if page.feature_image_light and page.feature_image_dark %}
    <div class="mx-0 px-0 bg-transparent container-fluid">
      <div class="row justify-content-between mx-0 px-0 feature-image" 
           style="background-image: url('{{ page.feature_image_light | relative_url }}');"
           data-light-img="{{ page.feature_image_light | relative_url }}"
           data-dark-img="{{ page.feature_image_dark | relative_url }}">
      </div>
    </div>
    {% endif %}
    
    <div class="container rounded bg-body">	   
      <main class="my-2 p-4" aria-label="Content">
        {{ content }}
      </main>
    </div>

    {% include footer.html %}
    {% comment %}
    {% fa_svg_generate %}
    {% endcomment %}
    {% include scripts.html %}
  </body>
</html>