---
layout: default
---

<article>
  {% if page.title %}
  <div class="my-4">
    <h1 class="">{{ page.entry.title }}{% if page.entry.subtitle %}: {{ page.entry.subtitle }}{% endif %}</h1>
    {% if page.entry.chair %}<h4>Chair: {{ page.entry.chair }}</h4>{% endif %}
  </div>
  {% endif %}

  {% include tocdiv.html %}

  <div class="my-4 p-2">
    {% if page.entry.image_url %}
    <div class="entry-image">
      <figure class="figure">
      <img src="{{ site.baseurl }}/{{ page.entry.image_url }}" alt="{{ page.title }}" class="img-fluid rounded">
      {% if page.entry.image_credit %}
      <figcaption class="figure-caption">Image credit: {{ page.entry.image_credit }}</figcaption>
      {% endif %}
      </figure>
    </div>


    {% endif %}
    <ul>
      {% if page.entry.date %}<li>{{ page.entry.date }}</li>{% endif %}
      {% if page.entry.location %}<li>Location: {{ page.entry.location }}</li>{% endif %}
      {% if page.entry.type %}<li>Type: {{ page.entry.type }}</li>{% endif %}
      {% if page.entry.video_url %}<li><a href="{{ page.entry.video_url }}">Video link</a></li>{% endif %}
    </ul>

    {% if page.entry.abstract %}
    {{ page.entry.abstract | markdownify }}
    {% endif %}

{% assign session_papers = site.data.proceedings | where_exp: "paper", "paper.session_code contains page.entry.id" %}    {% unless session_papers == empty %}

    <h2>Presentations:</h2>
    <ul>
    {% for paper in session_papers %}
    {% capture proceeding_entry_url %}{{ paper.id | datapage_url: "proceedings" | relative_url }}{% endcapture %}

      <li>
        <a href="{{ proceeding_entry_url }}"><strong>{{ paper.title }}</strong></a>  ({{paper.duration}} minutes)  {% if paper.paper_url %}<a href="{{ paper.paper_url }}">(PDF link)</a>{% endif %}<br>
        by {{ paper.authors }}<br>      

      </li>
    {% endfor %}
    </ul>

    {% if page.entry.type == "papers" %}
    <p>Papers have 5 minutes for questions and changeover. Speaking time is 5, 10, or 15 minutes depending on the length (short, medium, long) of each paper.</p>
    {% endif %}

    {% endunless %}

  </div>
</article>
